
    <section class="carousel">

      <div class="carousel__container">

        <div class="carousel-item">
        <h3 style="z-index:10; text-align:center; background-color:white;">Discover NYC</h3>
          <img
            class="carousel-item__img"
            src="https://images.pexels.com/photos/378570/pexels-photo-378570.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="people"
          />

          <div class="carousel-item__details">

            <h5 class="carousel-item__details--title">NYC Times Square</h5>
            <h6 class="carousel-item__details--subtitle"><a href="#">Book Now</a></h6>
          </div>
        </div>
        <div class="carousel-item">
        <h3 style="z-index:10; text-align:center;background-color:white;">Discover Sahara</h3>
          <img
            class="carousel-item__img"
            src="https://images.pexels.com/photos/1703312/pexels-photo-1703312.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="people"
          />
          <div class="carousel-item__details">

            <h5 class="carousel-item__details--title">Sahara Desert</h5>
            <h6 class="carousel-item__details--subtitle"><a href="#">Book Now</a></h6>
          </div>
        </div>
        <div class="carousel-item">
        <h3 style="z-index:10; text-align:center;background-color:white;">Explore Amazon</h3>
          <img
            class="carousel-item__img"
            src="https://images.pexels.com/photos/2739664/pexels-photo-2739664.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="people"
          />
          <div class="carousel-item__details">

            <h5 class="carousel-item__details--title">Amazon Rainforest</h5>
            <h6 class="carousel-item__details--subtitle"><a href="#">Book Now</a></h6>
          </div>
        </div>
        <div class="carousel-item">
        <h3 style="z-index:10; text-align:center;background-color:white;">Explore Turkey</h3>
          <img
            class="carousel-item__img"
            src="https://images.pexels.com/photos/3889742/pexels-photo-3889742.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="people"
          />
          <div class="carousel-item__details">

            <h5 class="carousel-item__details--title">Turkey</h5>
            <h6 class="carousel-item__details--subtitle"><a href="#">Book Now</a></h6>
          </div>
        </div>

        <div class="carousel-item">
        <h3 style="z-index:10; text-align:center;background-color:white;">Explore Bali</h3>
          <img
            class="carousel-item__img"
            src="https://images.pexels.com/photos/2499699/pexels-photo-2499699.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="people"
          />
          <div class="carousel-item__details">

            <h5 class="carousel-item__details--title">Bali</h5>
            <h6 class="carousel-item__details--subtitle"><a href="#">Book Now</a></h6>
          </div>
        </div>
      </div>
    </section>
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='flightbooking.imageanimation'}"/>
<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>