<section style="margin:50px;">
    <!--for demo wrap-->
    <h1 style="text-align:center;" id="flight"></h1>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
            <tr>
                <th>Flight No.</th>
                <th>Departure</th>
                <th>Arrival</th>
                <th>Time</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
            <tr>
                <td>A780</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>10.00(GMT)</td>
                <td id="f1">100$</td>
                <td><input id="getValBtnID" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A480</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>11.00(GMT)</td>
                <td id="f2">200$</td>
                <td><input id="getValBtnID2" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A680</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>12.00(GMT)</td>
                <td id="f3">300$</td>
                <td><input id="getValBtnID3" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A785</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>13.00(GMT)</td>
                <td id="f4">190$</td>
                <td><input id="getValBtnID4" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A790</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>14.00(GMT)</td>
                <td id="f5" >260$</td>
                <td><input id="getValBtnID5" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A789</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>15.00(GMT)</td>
                <td id="f6">180$</td>
                <td><input id="getValBtnID6" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A788</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>16.00(GMT)</td>
                <td id="f7">300$</td>
                <td><input id="getValBtnID7" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A750</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>17.00(GMT)</td>
                <td id="f8">500$</td>
                <td><input id="getValBtnID8" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A980</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>18.00(GMT)</td>
                <td id="f9">790$</td>
                <td><input id="getValBtnID9" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A760</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>19.00(GMT)</td>
                <td id="f10">280$</td>
                <td><input id="getValBtnID10" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A730</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>20.00(GMT)</td>
                <td id="f11">200$</td>
                <td><input id="getValBtnID11" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A230</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>21.00(GMT)</td>
                <td id="f12">100$</td>
                <td><input id="getValBtnID12" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A480</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>22.00(GMT)</td>
                <td id="f13">430$</td>
                <td><input id="getValBtnID13" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A580</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>23.00(GMT)</td>
                <td id="f14">300$</td>
                <td><input id="getValBtnID14" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A710</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>12.00(GMT)</td>
                <td id="f15">100$</td>
                <td><input id="getValBtnID15" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A470</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>1.00(GMT)</td>
                <td id="f16">170$</td>
                <td><input id="getValBtnID16" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A787</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>2.00(GMT)</td>
                <td id="f17">160$</td>
                <td><input id="getValBtnID17" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A543</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>3.00(GMT)</td>
                <td id="f18">100$</td>
                <td><input id="getValBtnID18" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A580</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>4.00(GMT)</td>
                <td id="f19">200$</td>
                <td><input id="getValBtnID19" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A980</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>5.00(GMT)</td>
                <td id="f20">100$</td>
                <td><input id="getValBtnID20" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A380</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>6.00(GMT)</td>
                <td id="f21">100$</td>
                <td><input id="getValBtnID21" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A540</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>7.00(GMT)</td>
                <td id="f22">160$</td>
                <td><input id="getValBtnID22" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A774</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>8.00(GMT)</td>
                <td id="f23">200$</td>
                <td><input id="getValBtnID23" type="submit" value="Book"></td>
            </tr>
            <tr>
                <td>A874</td>
                <td class="from"> </td>
                <td class="to"></td>
                <td>9.00(GMT)</td>
                <td id="f24">200$</td>
                <td><input id="getValBtnID24" type="submit" value="Book"></td>
            </tr>

            </tbody>
        </table>
    </div>
</section>



<script>
  from=window.localStorage.getItem("from");
  to=window.localStorage.getItem("to");
  departure=window.localStorage.getItem("departure");
  var flightName="Flights Available for "+departure;


  $.ajax({
  cache:false,
  success:function(data){
  $(".from").html(from);
  $(".to").html(to);
  $("#flight").html(flightName);

  }
  });

$("#getValBtnID").click(function () {

		var f1 = $("#f1").text();
  		window.localStorage.setItem("f1",f1);

		if(sessionStorage.getItem('status')==='logged'){
                	window.location.href="http://localhost:4502/content/flightbooking/language-masters/en/booking.html";
                }else{
                	window.location.href="http://localhost:4502/content/flightbooking/language-masters/en/login-page.html";
                }
        sessionStorage.setItem("bookingStatus","true");

        $.ajax({

            cache: false,
            success: function(data){

            },
            error: function(data){

            }
        });


    });


$("#getValBtnID2").click(function () {

		var f2 = $("#f2").text();
  		window.localStorage.setItem("f1",f2);

		if(sessionStorage.getItem('status')==='logged'){
                	window.location.href="http://localhost:4502/content/flightbooking/language-masters/en/booking.html";
                }else{
                	window.location.href="http://localhost:4502/content/flightbooking/language-masters/en/login-page.html";
                }
        sessionStorage.setItem("bookingStatus","true");

        $.ajax({

            cache: false,
            success: function(data){

            },
            error: function(data){

            }
        });


    });

</script>




<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='flightbooking.flightlist'}"/>
<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>
