<h1>Customer Reviews</h1>

<figure class="snip1574">
  <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="profile-sample2" />
  <figcaption>
    <blockquote>
      <p>FLy Asia is the best airline I have been on. It has top notch service. It provides with the all the basic amenities. In all I love the airline.</p>
    </blockquote>
    <h3>Sue Shei</h3>
    <h5>Founder</h5>
  </figcaption>
</figure>
<figure class="snip1574"><img src="https://images.unsplash.com/photo-1539571696357-5a69c17a67c6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="profile-sample7" />
  <figcaption>
    <blockquote>
      <p>I have been in love with Fly Asia since the first flight I took from Tokyo.I loved in flight services and behaviour of the people.</p>
    </blockquote>
    <h3>Will Barrow</h3>
    <h5>Web Designer</h5>
  </figcaption>
</figure>
<figure class="snip1574"><img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60" alt="profile-sample6" />
  <figcaption>
    <blockquote>
      <p>The only airline to which I am loyal is Fly Asia. They have amazing hospitality. Food is amazing. I find flights extremely clean. Not just the flight even the lounge is extremelyy clean. </p>
    </blockquote>
    <h3>Claudia Brown</h3>
    <h5>Public Relations</h5>
  </figcaption>
</figure>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='flightbooking.testimonial'}"/>
<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>