<section class="service-grid pb-5 pt-5">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center mb-4">
                        <div class="service-title">
                            <h2>Custom Tailored Services Only For You</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 text-center mb-3">
                        <div class="service-wrap">
                            <div class="service-icon">
                                <i class="fa fa-wpexplorer" aria-hidden="true"></i>
                            </div>
                            <h4>Web Application</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-3">
                        <div class="service-wrap1">
                            <div class="service-icon">
                                <i class="fa fa-ravelry" aria-hidden="true"></i>
                            </div>
                            <h4>Highly customizable</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-3">
                        <div class="service-wrap2">
                            <div class="service-icon">
                                <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
                            </div>
                            <h4>Go Cashless</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-3">
                        <div class="service-wrap3">
                            <div class="service-icon">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                            </div>
                            <h4>Gift a Vacation</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-3">
                        <div class="service-wrap4">
                            <div class="service-icon">
                                <i class="fa fa-phone-square" aria-hidden="true"></i>
                            </div>
                            <h4>24/7 Customer Support</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-3">
                        <div class="service-wrap5">
                            <div class="service-icon">
                                <i class="fa fa-user-md" aria-hidden="true"></i>
                            </div>
                            <h4>Medical Support</h4>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
             data-sly-call="${clientlib.css @ categories='flightbooking.scrollanimation'}"/>
        <sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>
