<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Dashboard -->
    <div class="dashboard">
      <!-- Sidebar -->
      <div class="sidebar flex-c flex-sb">
        <div class="brand" id="name"></div>
        <div class="side-nav">
          <div class="menu-item flex active">
            <div class="icon">
              <ion-icon name="grid"></ion-icon>
            </div>

            <p>Dashboard</p>
          </div>

          <div class="menu-item flex">
            <div class="icon">
              <ion-icon name="magnet-outline"></ion-icon>
            </div>

            <p>Explore Trips</p>
          </div>

          <div class="menu-item flex">
            <div class="icon">
              <ion-icon name="storefront-outline"></ion-icon>
            </div>

            <p>Past Trips</p>
          </div>

          <div class="menu-item flex">
            <div class="icon">
              <ion-icon name="heart-circle-outline"></ion-icon>
            </div>

            <p>Favourites</p>
          </div>

          <div class="border"></div>

          <div class="menu-item flex">
            <div class="icon">
              <ion-icon name="reader-outline"></ion-icon>
            </div>

            <p>My Reviews</p>
          </div>

          <div class="menu-item flex">
            <div class="icon">
              <ion-icon name="bookmark-outline"></ion-icon>
            </div>

            <p>Latest Trips</p>
          </div>

          <div class="menu-item flex">
            <div class="icon">
              <ion-icon name="wallet-outline"></ion-icon>
            </div>

            <p>Wallet</p>
          </div>

          <div class="menu-item flex">
            <div class="icon">
              <ion-icon name="settings-outline"></ion-icon>
            </div>

            <p>Setting</p>
          </div>
        </div>

        <div class="log-out">
          <div class="menu-item flex">
            <div class="icon">
              <i class="fa fa-sign-out" aria-hidden="true"></i>
            </div>

            <p><a href="http://localhost:4502/content/flightbooking/language-masters/en/home-page1.html">Logout</a></p>
          </div>
        </div>
      </div>
      <!-- End Sidebar -->

      <!-- Dashboard Content -->
      <div class="dashboard-content">



        <!-- ======Section======= -->
        <div class="section flex flex-sb">
          <!-- Section Left -->
          <div class="section-left">
            <!-- ======Banner======= -->
            <div class="banner flex flex-sb">
              <div class="text">
                <h2>
                  Dicover Trips <br />
                  with Fly Asia
                </h2>

                <a href="http://localhost:4502/content/flightbooking/language-masters/en/trip-list.html" class="btn">Discover Now</a>
              </div>
            </div>

            <div class="nfts">
              <div class="trending heading flex flex-sb">
                <h2>Trending Places</h2>
                <a href="http://localhost:4502/content/flightbooking/language-masters/en/trip-list.html" class="btn">See All</a>
              </div>

              <!-- ======Categories======= -->

              <div class="categories flex flex-sb">
                <div class="category flex">
                  <div class="icon">🔥</div>
                  <p>Trending</p>
                </div>

                <div class="category flex">
                  <div class="icon"><i class="fa fa-envira" aria-hidden="true"></i></div>
                  <p>Nature</p>
                </div>

                <div class="category flex">
                  <div class="icon"><i class="fa fa-subway" aria-hidden="true"></i></div>
                  <p>City</p>
                </div>

                <div class="category flex">
                  <div class="icon"><i class="fa fa-snowflake-o" aria-hidden="true"></i></div>
                  <p>Mountains</p>
                </div>

                <div class="category flex">
                  <div class="icon"><i class="fa fa-anchor" aria-hidden="true"></i></div>
                  <p>Beach</p>
                </div>
              </div>

              <!-- =====Browse NFT===== -->
              <div class="browse">
                <div class="nft">
                  <img
                    src="https://images.unsplash.com/photo-1583265266785-aab9e443ee68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fHBhcmlzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=600&q=60"
                    alt=""
                  />
                  <div class="title">Paris</div>
                  <div class="details flex flex-sb">
                    <div class="author flex">
                      <a href="http://localhost:4502/content/flightbooking/language-masters/en/trip-details/paristrip.html" class="price">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="nft">
                  <img
                    src="https://images.unsplash.com/photo-1619894848103-4be426f27be9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fHJpbyUyMGRlJTIwamFuZWlyb3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60"
                    alt=""
                  />
                  <div class="title">Rio de Janerio</div>
                  <div class="details flex flex-sb">
                    <div class="author flex">
                       <a href="http://localhost:4502/content/flightbooking/language-masters/en/trip-details/riodejanerio.html" class="price">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="nft">
                  <img
                    src="https://images.unsplash.com/photo-1541270941907-3f7143c8c7a2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmV3JTIwemVhbGFuZCUyMGNhcGl0YWx8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
                    alt=""
                  />
                  <div class="title">Wellington</div>
                  <div class="details flex flex-sb">
                    <div class="author flex">
                      <a href="http://localhost:4502/editor.html/content/flightbooking/language-masters/en/trip-details/wellington.html" class="price">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="nft">
                  <img
                    src="https://images.unsplash.com/photo-1667315055092-ecaa0e107554?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDR8fHBvbmRpY2hlcnJ5JTIwaW5kaWF8ZW58MHx8MHx8&auto=format&fit=crop&w=600&q=60"
                    alt=""
                  />
                  <div class="title">Pondicherry</div>
                  <div class="details flex flex-sb">
                    <div class="author flex">
                      <a href="http://localhost:4502/editor.html/content/flightbooking/language-masters/en/trip-details/pondicherry.html" class="price">Read More</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Section Right -->
          <div class="section-right">

            <!--        <div class="top-creators">
                      <a href="http://localhost:4502/content/flightbooking/language-masters/en/trip-booking/custom-trip.html" class="btn">Get Back to Booking</a>
                    </div>    -->
                </div>
                <!-- ======End Section======= -->
      </div>
      <!-- End Dashboard Content -->
    </div>
    <!-- End Dashboard -->
    
    



  </body>
</html>

<script>
  name=window.localStorage.getItem("userName");
  $.ajax({
  cache:false,
  success:function(data){
  $("#name").html(name);
  }
  });
</script>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
             data-sly-call="${clientlib.css @ categories='flightbooking.profile'}"/>
        <sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>
